extends layout

block content
	div.wrapper-content.frame
		
		//wrapper colud left top
		div.wrapper-cloud-left-top
			
		//wrapper-bird
		div.wrapper-bird
			
		//wrapper colud left top
		div.wrapper-cloud-left-bottom
			
		div.wrapper-frame-absolute.syarat-ketentuan
			div.wrapper-syarat-ketentuan
				div.content-syarat-ketentuan
					ul
						li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed mattis mauris, nec ultricies velit. Aenean ac erat nisl. Pellentesque in vehicula justo. Integer facilisis id magna tristique vehicula.
						li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed mattis mauris, nec ultricies velit. Aenean ac erat nisl. Pellentesque in vehicula justo. Integer facilisis id magna tristique vehicula.
						li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed mattis mauris, nec ultricies velit. Aenean ac erat nisl. Pellentesque in vehicula justo. Integer facilisis id magna tristique vehicula.
						li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed mattis mauris, nec ultricies velit. Aenean ac erat nisl. Pellentesque in vehicula justo. Integer facilisis id magna tristique vehicula.
						li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed mattis mauris, nec ultricies velit. Aenean ac erat nisl. Pellentesque in vehicula justo. Integer facilisis id magna tristique vehicula.
						li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed mattis mauris, nec ultricies velit. Aenean ac erat nisl. Pellentesque in vehicula justo. Integer facilisis id magna tristique vehicula.
						li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed mattis mauris, nec ultricies velit. Aenean ac erat nisl. Pellentesque in vehicula justo. Integer facilisis id magna tristique vehicula.
						
		//wrapper cloud right center
		div.wrapper-cloud-right-center
			
		//wrapper good day
		div.wrapper-good-day
			img(src="img/good-day.png")
				
	div#footer